
<h3 style="text-align:center;">Here are the items</h3>
  <% if @user.id == @session %>
  <h3 style="text-align:center;">you have listed for community lending.</h3>
  <p style="text-align:center;">▻ You can click on an item to EDIT. <p> <br>
  <% else %>
  <h3 style="text-align:center;"> <%=@user.username%> has listed for community lending: </h3><br><br>
  <% end %>
  <% @user.items.each do |item| %>
    <ol><li><a href="/items/<%=item.id%>"><%= item.name %></a></li>
    <h5 style="text-indent: 35px;  font-style: italic;">  <%=item.detail%></h5>
    <br>
    <br>
  </ol>
  <% end %>
  <br>
  <br>

<br>
<div class="end">
<h4 style="background-color:lightgray; "><br> </h4>
<h4><a href="/items/new">Add an Item</a> </h4>
<h4><a href="/user/<%=@current_user%>/edit">Edit My Account</a></h4>
<h4><a href="/items">View ALL items</a></h4>
<h4><a href="/user">Community</a></h4>
<h4><a href="/logout">Log Out</a></h4>
<h4 style="background-color:lightgray;"><br> </h4>
</div>
