<h3><%=@item.name%>:  <%=@item.detail%></h3>
<br>
<h4>Contact <%=@item.user.username%> to borrow this item.
  <br>
<a href="mailto:<%= @item.user.email %>?subject=Message from IHT Re: <%= @item.name %> &body=Message sent from IHT (I HAVE THAT App) ">Send EMAIL</a></h4>
<br>

<h4 style="background-color:lightgray;"><br> </h4>
<h4 style="background-color:lightgray; text-align:center;">I have an <a href="/items/new">item to add</a>. </h4>
<h4 style="background-color:lightgray; text-align:center;"><a href="/items">View ALL items</a></h4>
<h4 style="background-color:lightgray; text-align:center;"><a href="/logout">Log Out</a></h4>
<h4 style="background-color:lightgray;"><br> </h4>
