<h3 style="text-decoration-line: underline; text-align:center;"> Here are all the items the community has to lend: </h3><br>
<% @items.each do |item| %>
<ol>
 Item: <a href="items/<%=item.id%>"><%=item.name%></a>
   <h5 style="text-indent: 35px;  font-style: italic;">  <%=item.detail%></h5></ol>
<br>
<% end %>
<br>
<br>

<div class="end">
  <h4><br> </h4>
  <h4><a href="/items/new">Add an Item</a> </h4>
  <h4><a href="/user/<%=@user.slug%>">My Items</a></h4>
  <h4><a href="/user">Community</a></h4>
  <h4><a href="/user/<%=@user.slug%>/edit">Edit My Account</a></h4>
  <h4><a href="/logout">Log Out</a></h4>
  <h4><br> </h4>
</div>
